:root {
  --black: #000;
  --white: #fff;

  --gray-100: #eee;
  --gray-200: #aaa;
  --gray-700: #444;
  --gray-900: #111;

}

body::-webkit-scrollbar {   
  background-color: var(--gray-900);
  width: .7rem;  
}

body::-webkit-scrollbar-thumb {   
  background-color: var(--gray-700);   
}

body {
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
}

h1, h2, h3, h4, h5, h6, span, p, button, input, div {
  font-family: 'Roboto', sans-serif;
}