.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.leftHeader {
  display: flex;
  align-items: center;

  button {
    padding: .8rem;
  }
}

.headerText {
  margin-bottom: -4rem;
  h5 {
    color: var(--gray-200);
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 400;
  }

  h6 {
    color: white;
    font-size: 2rem;
    margin-top: 0;
    font-weight: 700;
  }
}

.arrows {
  display: flex;

  svg {
    padding: 1rem;
    cursor: pointer;
  }
}


.button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  img {
    border-radius: 100%;
  }
}
