.container {
  width: 90%;
  margin-left: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.headerText {
  h5 {
    color: var(--gray-200);
    font-size: 1rem;
    margin-bottom: 0;
  }

  h6 {
    color: white;
    font-size: 1.5rem;
    margin-top: 0;
  }
}

.buttons {
  display: flex;
  bottom: 0;

  svg {
    padding: 1rem;
  }
}


.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 240px;
  margin-top: 0;
}

.item {
  box-sizing: border-box;
  margin: 0 0 16px 16px;
  width: 30%;
  height: 48px;
  display: flex;
  cursor: pointer;
  align-items: center;

  img {
    height: 48px;
    margin-right: 1rem;
  }

}

.topText {
  display: block;
  padding-top: 16px;

  h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.bottomText {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  h4, h5 {
    font-size: 14px;
    color: var(--gray-200);
    margin-top: -16px;
  }

  h4 {
    margin-left: 8px;
  }
}